@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #A4B3B6;
    overflow: hidden;
    width: 100%;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #A4B3B6;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;/*Определяет время, с которым начнет действовать стиль*/
}

.navbar a:hover,
.navbar a.active{/*подкрашивает при выделении, сохраняет выделение на выбранной странице*/
    color: #D83F87;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #2A1B3D;
    background-image: url('src/img/backPng.png');
    background-position:center;
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    padding: 0 12%;
}



.home-content li a{
    font-size: 16px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #D83F87;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #D83F87;
    border: 2px solid #D83F87;
    border-radius: 8px;
    font-size: 19px;
    color:#2A1B3D;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    box-shadow: 12px 12px 24px #D83F87;
}

.btn-box a:hover{
    color: #D83F87;
}

.btn-box a:nth-child(2){/*Выбрать следующего потомка*/
    background: transparent;
    color: #D83F87;
}
.btn-box a:nth-child(2):hover{/*изменить цвет текста в анимации*/
    color: #2A1B3D;
}
.btn-box a:nth-child(2)::before{
    background: #D83F87;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2A1B3D;
    z-index: -1;/*определяет положение по з координате. Т.е. выставляет элемент внутри элемента. Слои, в общем*/
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #D83F87;
    border-radius: 50%;
    font-size: 20px;
    color: #D83F87;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #2A1B3D;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #D83F87;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}


.home-sci-in-contacts{
    position: absolute;
    bottom: 47%;
    width: 370px;
    display: flex;
    justify-content: space-between;
}
.home-sci-in-contacts a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #D83F87;
    border-radius: 50%;
    font-size: 20px;
    color: #D83F87;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci-in-contacts a:hover{
    color: #2A1B3D;
}
.home-sci-in-contacts a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #D83F87;
    z-index: -1;
    transition: .5s;
}

.home-sci-in-contacts a:hover::before{
    width: 100%;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    bottom: 100px;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #D83F87;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #D83F87;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    padding: 10px;
    }
  
  button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #D83F87;
    box-shadow: 0 0 60px #D83F87;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #D83F87;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }

  .object{
    position:absolute;
  }

  .van{
    top: 80%;
    width: 10%;
    left: 0%;
  }

  #axis:hover .move-right{/*Для одного элемента в html можно определить несколько классов*/
    transform: translate(1920px,0);
    -webkit-transform: translate(1920px,0); /** Chrome & Safari **/
    -o-transform: translate(1920px,0); /** Opera **/
    -moz-transform: translate(1920px,0); /** Firefox **/
  }

  .object{
    position: absolute;
    transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 5s ease-in-out; /** Firefox **/
    -o-transition: all 5s ease-in-out; /** Opera **/
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

 /* Mobile Devices */
@media (max-width: 480px) {
    .body{
    }
    .header{
        width: 60%;
    }
    .wrap{
        display: none;
    }
    .home{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .home-content h1{
        font-size: 50%;
    }
    .home-content h3{
        font-size: 50%;
    }
    .home-content p{
        font-size: 50%;
    }
    .home-content .btn-box{
        width: 100%;
        
    }
}
        
/* Low resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 767px) {
    .wrap{
        display: none;
    }
}
        
/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1024px){
    
}
    
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    
}
    
/* Big boi Monitors */
@media (min-width: 1281px) {
    
}